<div>
  <div class="card border-secondary mb-3">
    <div class="card-body">

      <h5 class="card-title"><strong>{{museumName}}</strong></h5>
      <p class="card-text">📍{{museumAdress}}</p>
      <p class="card-text">{{museumCP}}</p>
      <p class="card-text">🌁{{museumStreet}}</p>
      <p class="card-text">⌚<em>{{museumPlanning}}</em></p>
      <a href="{{museumPhone}}">
        <p class="card-text">☎️{{museumPhone}}</p>
      </a>
      <br>
      <a href="{{museumWebsite}}" target="_blank">
        <p class="card-text">#️⃣{{museumWebsite}}</p>
      </a>
      <br>
    </div>
  </div>

</div>

  <h4><a routerLink="">🔙Back to museum list</a></h4>
<!--
{{museumName}}
{{ museumPhone}}
{{museumWebsite}}
{{museumAdress}}
{{museumPlanning}}
{{museumDetail}} -->
